@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Inter&family=Lora&display=swap');

/* font-family: 'Inconsolata', monospace;
font-family: 'Inter', sans-serif;
font-family: 'Lora', serif; */

:root {
  --body_background: #050505;
  --body_color: #fff;
  --grey1: #757575;
  --grey2: #1f1f1f;
  --input_bg: #1f1f1f;
  --purple:  #A445ED;
  --icon_colors: #A445ED;
  --purpleRGBA:  rgba(164, 69, 237, .3);
	--font_color: #fff;
  --font_URL: 'Lora', serif; 
  ;
}


[data-theme="light"] {
  --body_background: #fff;
  --body_color: #000;
  --grey1: #757575;
  --grey2: #1f1f1f;
  --input_bg: #f4f4f4;
  --purple:  #A445ED;
  --icon_colors: #757575;
  --purpleRGBA:  rgba(164, 69, 237, .3);
	--font_color: #000;
}
[data-font="sansSerif"] {
  --font_URL:  'Inter', sans-serif; 
}

[data-font="mono"] {
  --font_URL:  'Inconsolata', monospace;
}

body {
  background-color: var(--body_background);
}

a {
	color: var(--link-color);
}

li, h1, h2, h3, h4, span, p {
	font-family: var(--font_URL);
}
.purpleTxt {
	color: var(--purple);
}

.mainLogo{
	height: 3rem;
}


#appbar {
	margin: 2.5rem 0;
}

.MuiToolbar-root {
	padding: 0 !important;
}

#appbar .verticalDivider {
	height: 3rem;
	margin: 0 2rem;
}

#appbar .MuiToolbar-root {
	background-color: var(--body_background) !important;
}

#appbar .theme-toggle__within {
	margin-left: -15px;
  height: 2rem;
  width: 2rem ;
}

#appbar .fontSelect {
	width: 150px;
	background-color: var(--body_background) !important;
}

#appbar #mui-component-select-font {
	background-color: var(--body_background);
}

.divider{
	border-color: var(--grey2);
}

.searchIcon, .menuIcon{
  color: var(--icon_colors)
}

.MuiInputBase-root {
	background-color: var(--input_bg);
}

h1 {
  font-size: 4rem;
	text-transform: capitalize;
	margin-bottom: 6px !important;
}

#searchedWordForm {
	margin: 1rem 0;
}
#searchedWordForm #searchBar {
	width: 100% !important;
}
#definitions {
	text-align: left;
}
#definitions .word, #definitions .audioPlayer {
	margin-top: 2rem;
}
#definitions .phonetic {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	color: var(--purple);
}
	
#definitions .definitionsGrid {
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-template-rows: 1fr;
	gap: 0px 0px;
	grid-template-areas: "text audioPlayer";
	grid-template-columns: repeat(2, 1fr);
}
#definitions .definitionsGrid .audioPlayer {
	text-align: right;
}
#definitions .meaning, #definitions .source {
	color: #757575;
}
#definitions ul > li {
	color: var(--purple);
}
#definitions ul > li > span {
	color: var(--body_color) !important;
}
#definitions .syn {
	font-weight: 900 !important;
	margin-left: 1rem;
}
#definitions .playArrow {
	color: var(--purple);
	background-color: var(--purpleRGBA);
	padding: 1.5rem;
	border-radius: 50%;
}
#definitions li, #definitions h1, #definitions h2, #definitions h3, #definitions h4 {
	color: var(--body_color);
	margin: 1rem 0;
}
#definitions .partOfSpeech {
	display: flex;
	align-items: center;
	font-style: italic;
	margin: 2.4rem 0;
}
#definitions .partOfSpeech::after {
	content: '';
	flex: 1;
	margin-left: 1rem;
	height: 1px;
	background-color: var(--grey2);
}
#definitions .source a {
	color: var(--font_color);
	margin-left: 1rem;
	margin-right: 6px;
	font-size: .8rem !important;
}

#definitions .meaning {
	font-size: 1rem !important;
}

.mainContainer {
	max-width: 750px !important;
	min-width: 200px;
}

.source  {
	text-decoration: underline;
	font-size: .8rem;
}

#definitions .source a:hover {
	color: var(--purple);
}
#definitions .source .icon {
	font-size: 16px !important;
}

#spinner{
	height: 3rem;
	width: 3rem;
}
#definitions ul {
	padding-left: 30px;
}

li::marker {
	content: "   •   ";
  color: var(--purple) !important; 
}

@media only screen and (max-width: 600px) {

	.MuiToolbar-root {
		padding-left: 1rem !important;
	}

	#definitions .playArrow {
		padding: .9rem;
	}

	#definitions ul {
		padding-left: 20px;
	}
	

	h1 {
		font-size: 2.2rem;
	}

	#appbar .fontSelect {
		width: 120px;
	}
}

